version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: edutrack_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: edutrack_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./server/init.sql:/docker-entrypoint-initdb.d/init.sql

  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080"


  server:
    build: ./server
    container_name: edutrack_server
    restart: always
    ports:
      - "5001:5000"
    environment:
      - DB_HOST=mysql
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=edutrack_db
      - JWT_SECRET=secretkey
    depends_on:
      - mysql

  client:
    build: ./client
    container_name: edutrack_client
    restart: always
    ports:
      - "80:80"
    depends_on:
      - server

  sonarqube:
    image: sonarqube:community
    container_name: edutrack_sonarqube
    ports:
      - "9000:9000"
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true

  prometheus:
    image: prom/prometheus
    container_name: edutrack_prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana
    container_name: edutrack_grafana
    restart: always
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus

volumes:
  mysql_data:
